body{
    margin:20px;
}
.container{
    border: 5px solid red;
    display: flex;
    justify-content: center;
}
.item{
    width:200px;
    height:200px;
    background-color: darksalmon;
    border:3px solid orangered;
    text-align: center;
    font-size: 35px;
}